body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  text-align: center;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 50px 20px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #4caf50;
  font-weight: bold;
}

main {
  margin: 30px auto;
  max-width: 800px;
  text-align: left;
}

article {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}
img{
padding: auto;
margin: auto;
animation-name: ahmat;
animation-iteration-count:infinite;
animation-delay: 2s;
animation-duration: 2s;

}
@keyframes ahmat{
0%{
translate: 0 0;

}
50%{
translate: 0 20px;

}
100%{
    translate: 0 0;
}

}
{
    text-decoration: none;
}
table{

background-image: radial-gradient(rgb(0, 255, 106),black);
font-size: 40px;
}
a{


    
}